@mixin button($background-color,$color,$border-color) {
    
    background-color: $background-color;
    color: $color;
    border:1px solid $border-color;
    padding: 2px 30px;
    border-radius: 5px;
    transition: all .5s ease;
    text-decoration: none;
    &:hover {
        background-color: $color;
        color: $background-color;
    }
}


