// @import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
@import "./variables";
@import "./mixins.scss";
@font-face {
  font-family: "Almarai";
  src: url(../fonts/Almarai-Regular.ttf);
}

body {
  font-family: "Almarai", sans-serif;
  font-weight: 300;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
}

header {
  .navbar {
    .navbar-nav {
      .nav-item {
        .active {
          color: $main-color !important;
          border-bottom: 1px solid $main-color;
        }
      }
    }

    padding: 10px;
    border-bottom: 1px solid $gray_color;
    background-color: #fff;
    &-brand {
      width: 100px;
      min-height: 100px;
    }

    .nav-link {
      color: $black-color;
      font-size: 25px;
      margin-right: 20px;
      transition: all 0.5s ease;

      &:hover {
        color: $main-color;
        text-decoration: underline;
      }
    }
  }

  .login {
    position: relative;
    margin-left: 200px;
    .fa-circle-user {
      font-size: 45px;
      margin-left: 15px;
      color: $gray_color;
      cursor: pointer;
    }

    &-container {
      position: absolute;
      width: 250px;
      height: 80px;
      background-color: #fff;
      border: 1px solid $gray_color;
      text-align: center;
      padding: 20px;
      border-radius: 10px;
      top: 52px;
      right: -112px;
      visibility: hidden;
      transform: all 0.5s ease;

      .button {
        @include button($main-color, $white-color, $main-color);
        visibility: hidden;
      }
    }

    &:hover {
      .login-container {
        visibility: visible;
        .button {
          visibility: visible;
        }
      }
    }
  }
  .login-button {
    .button {
      @include button($main-color, $white-color, $main-color);
      font-size: 16px;
      width: 50%;
      margin: 15px auto;
      text-align: center;
      display: none;
    }
  }
}

.carousel {
  position: relative; //هنا

  .carousel {
    .carousel-item {
      img {
        height: 900px;
      }
      .carousel-content {
        a {
          @include button($main-color, $white-color, $main-color);
          padding: 17px 47px;
          border-radius: 30px;
        }
        h2 {
          margin-bottom: 50px !important;
          color: $white-color;
        }
        h1 {
          color: $main-color;
          margin-bottom: 25px;
        }
      }
      .overlay {
        position: absolute;
        background-color: rgba($color: $white-color, $alpha: 0.2);
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        display: flex !important;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
      }
    }
  }
}

.about-the-school {
  position: relative;
  width: 100%;

  .text {
    color: $main-color;
    text-align: center;
  }
  .description {
    .supervisior {
      .supervisior-name {
        color: $main-color;
        margin-top: 100px;
      }
    }
    img {
      width: 100px;
      height: 100px;
    }
    q {
      font-size: 30px;
      text-align: center;
      color: $gray_color;
    }
  }
}

.works {
  h2 {
    text-align: center;
  }
}

.students {
  background-color: $main-color-second;
  height: 500px;
  h2 {
    color: $white-color;
  }
  .carousel-inner {
    .custom-img {
      width: 150px;
      height: 150px;
      clip-path: circle();
    }

    .student-name {
      font-size: 24px;
      margin-top: 15px;
      color: $black-color;
      &:hover {
        color: $main-color;
      }
    }

    .student-date {
      color: $gray_color !important;
      time {
        font-size: 15px;
      }
      margin-bottom: 15px;
    }
  }

  .carousel-control-prev {
    font-size: 25px;
    color: $black-color !important;
  }

  .carousel-control-next {
    font-size: 25px;
    color: $black-color !important;
  }
}

.best-student {
  .icon-main {
    img {
      width: 12rem;
    }
  }

  .icon-main-2 {
    img {
      width: 10rem;
    }
  }
  .card {
    text-align: center !important;
  }
}
@media (max-width: 1670px) {
  .carousel-content {
    h2 {
      font-size: 1.5rem;
    }
    h1 {
      font-size: 1.9rem;
    }
  }
}

@media (max-width: 992px) {
  .login {
    display: none;
  }
  .navbar {
    .login-button {
      .button {
        display: block;
      }
    }
  }

  .carousel-content {
    h2 {
      font-size: 1rem;
    }
    h1 {
      font-size: 1rem;
    }
  }
}

.section-title {
  color: $main-color;
  text-align: center;
  font-size: 40px;
}

.works {
  padding: 100px 0px;
  img {
    width: 100px;
    height: 100px;
  }
  h4 {
    font-size: 45px;
    color: $black-color;
    margin: 50px;
  }
  p {
    color: $gray_color;
    font-size: 24px;
  }
}
// student page
.main-breadcrumb {
  margin-left: 300px;
  .breadcrumb {
    a {
      text-decoration: none;
      color: $black-color;

      &:hover {
        color: $main-color;
        text-decoration: underline;
      }
    }
  }
}

header {
  .header-main {
    background-color: $main-color !important;
    width: 100%;
    height: 200px;

    .banner {
      .title {
        color: $white-color !important;

        margin-top: 90px;
      }
    }
  }
}

.student-info {
  border: 3px solid $main-color;
  padding: 100px;
  .student-title {
    text-align: center;
    h2 {
      color: $black-color;
    }
    h3 {
      color: red;
    }
  }
}

.tips {
  background-color: $white-color;
  padding: 100px;
  text-align: center;
}
/// end
.social-about {
  margin-left: 20%;
  margin-top: 25px;
}
.one-social {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #a9a9a9;
  color: #a9a9a9;
  width: 45px;
  height: 45px;
  border-radius: 3px;
  margin-left: 10px;
  float: left;
  transition: all 0.5s ease;
  &:hover {
    background-color: $hover-card;
  }
}

// static section

.statistics {
  background-image: url(../images/schoolbg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  .overlay {
    background-color: rgb($color: $main-color, $alpha: 0.9);
    padding: 140px 0 100px;
    h2 {
      color: $white-color;
      margin-bottom: 50px;
    }
    .count {
      font-size: 40px;
      font-weight: bold;
      color: $white-color;
      margin: 50px auto 30px;
    }

    .counter {
      color: $gray_color;
      font-size: 20px;
      font-weight: bold;
    }

    img {
      width: 200px;
    }
  }
}

// conntact section

.register {
  padding: 50px 0 60px;
  background-color: $white-color;
  .text {
    h4 {
      font-size: 30px;
    }
    h2 {
      font-size: 60px;
    }
  }

  .button-register {
    a {
      @include button($main-color, $white-color, $main-color);
      width: 100px;
      border-radius: 30px;
      padding: 30px;
    }
  }
}

// foooter section
footer {
  background-color: $main-color;
  padding: 50px 0;

  h3 {
    color: $white-color;
    margin-bottom: 20px;
  }

  p {
    color: $gray_color;
  }
  ul {
    li {
      color: $gray_color;
    }
  }
  .social-media-icon {
    display: inline;
    margin: 10px;
    font-size: 30px;
    a {
      color: darken($color: $gray_color, $amount: 50%);
    }
  }
}

// register form

.register-form {
  label {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .button {
    @include button($main-color, $white-color, $main-color);
    font-size: 22px;
  }
}

@media (max-width: 1600px) {
  .main-breadcrumb {
    margin-right: 100px;
  }
}

@media (max-width: 600px) {
  .main-breadcrumb {
    display: inline;
    margin-right: 50px !important;
  }
}
